# 텍스트는 LF로 통일
* text=auto eol=lf

# 바이너리는 변환 금지
*.png binary
*.jpg binary
*.gif binary
*.mp3 binary
*.wav binary
*.fbx binary
*.obj binary
*.unity binary
*.prefab binary
*.mat binary
*.asset binary
*.controller binary
*.anim binary
*.meta binary
*.dll binary
*.exe binary
*.gz  binary
